<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:property-placeholder location="classpath:db.properties"/>
    <context:component-scan base-package="cn.hdlmx"/>
    <bean id="datasource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="user" value="${user}"/>
        <property name="password" value="${password}"/>
        <property name="driverClass" value="${driverclass}"/>
        <property name="jdbcUrl" value="${jdbcurl}"/>
    </bean>
    <bean id="car" class="Car">
        <property name="brand" value="吉利"/>
        <property name="price" value="130000"/>
        <property name="speed" value="200"/>
    </bean>
    <bean id="car2" class="Car">
        <constructor-arg name="brand" value="保时捷"/>
        <constructor-arg name="price" value="130000"/>
        <constructor-arg name="speed" value="220"/>
    </bean>
    <bean id="car3" class="Car">
        <constructor-arg value="沃尔沃" index="0"/>
        <constructor-arg value="2000" index="2"/>
        <constructor-arg value="22" index="1"/>
    </bean>
    <bean id="person" class="Person">
        <property name="name" value="韩东"/>
        <property name="age" value="25"/>
        <property name="car" ref="car"/>
    </bean>
    <bean id="person3" class="Person2">
        <property name="name" value="穆昕"/>
        <property name="age" value="12"/>
        <property name="car">
            <list>
                <ref bean="car"/>
                <ref bean="car2"/>
                <ref bean="car3"/>
            </list>
        </property>

    </bean>
    <bean id="newPerson" class="NewPerson">
        <property name="age" value="1"/>
        <property name="name" value="韩东"/>
        <property name="cars">
            <map>
                <entry key="AA">
                    <ref bean="car3"/>
                </entry>
                <entry key="BB">
                    <ref bean="car"/>
                </entry>
            </map>
        </property>
    </bean>
</beans>